.content_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 0 20px rgba(154, 95, 209, 0.4);
  flex-wrap: wrap;
  gap: 20px;
}

.content_section {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.para {
  font-size: 18px;
  max-width: 90%;
}

.digital-clock-glass {
  color: #d19aff;
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 20px;
  text-shadow: 2px 2px 8px #000;
  box-shadow: 0 0 25px rgba(209, 154, 255, 0.4), 0 0 60px rgba(209, 154, 255, 0.2);
}
.digital-clock-glass:hover {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 20px;
  text-shadow: 2px 2px 38px #a479d5;
  box-shadow: 0 0 25px rgba(166, 110, 212, 0.4), 0 0 60px rgba(209, 154, 255, 0.2);
}

@media (max-width: 768px) {
  .content_area {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .content_section {
    flex: 1 1 100%;
    padding: 10px 0;
    flex-direction: column;
  }

  .para {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }

  .digital-clock-glass {
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 12px;
  }
}
